.swap-view {
    width: 80%;
    max-width: 740px;
    margin: auto;
    .bogged-dex{
        height: 75vh;
        width: 100%;
        background: #1e2735;
        display: block;
        border-radius: 25px;
        border: none;
    }
}


@media screen and (max-width: 1240px) {
    .swap-view {
        width: 100%;
    }
}